In [1]:
# !python -m spacy download en_core_web_lg 
from diedfunctions import *
import warnings

# Import Lemmatised Wordlists

In [2]:
WORDLISTS_PATH = f'../../../../data/enwiki_city_pairs_lemmatised/NOUN_SPACY_LARGE_REAL_WORDS/'
data = import_lemmatised_wordlists(PATH=WORDLISTS_PATH)

In [ ]:
data[1][2]

# Corpus

### Create

In [6]:
warnings.simplefilter('ignore')

CORPUS_PATH = '../../../../data/corpus_nouns_real_words.csv'

if check_path(CORPUS_PATH):
    corpus = calculate_corpus(data=data, CORPUS_PATH=CORPUS_PATH)

This file already exists. Are you sure you want to override?
Type 'Yes' to continue: Yes

  0%|          | 0/434 [00:00<?, ?it/s]

### Read (Existing File)

In [110]:
CORPUS_PATH = '../../../../data/corpus_nouns_real_words.csv'

corpus = pd.read_csv(CORPUS_PATH)
corpus.set_index('word', inplace=True)
#corpus.loc[corpus['athens_bucharest']== 1.0].count() # .sort_values(ascending=False).value_counts()

paris_london           583
london_manchester      583
london_birmingham      583
london_berlin          583
paris_berlin           583
                      ...
lisbon_katowice        583
katowice_glasgow       583
birmingham_katowice    583
katowice_turin         583
katowice_valencia      583
Length: 434, dtype: int64

In [119]:
citypair = 'paris_london'

print(corpus.loc['biogas']['athens_bucharest'])
#tf['athens_bucharest'].between 

tf2 = tf
tf.loc['festschrift']['athens_bucharest']
# 0.004
print(len(tf['athens_bucharest']))
print('uniques', np.count_nonzero(corpus[citypair]))
print('totalwords', sum(corpus[citypair]))
print(1/sum(corpus[citypair]))
print(1/np.count_nonzero(corpus[citypair]))
#print(corpus['athens_bucharest'].mean())
newseries = tf2[citypair].between(0.0, 0.001, inclusive=False)
newseries.value_counts(True)

tf2[newseries][citypair].sort_values(ascending=False)# [:10]
#bool_series = data["Salary"].between(80000, 100000, inclusive = True)

1.0
33530
uniques 16319
totalwords 427850.0
2.3372677340189317e-06
6.127826459954654e-05

C:\Users\deejay\AppData\Local\Temp\ipykernel_25528\1386405683.py:15: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  newseries = tf2[citypair].between(0.0, 0.001, inclusive=False)

word
verdi           0.000980
disciple        0.000980
habilitation    0.000980
christmas       0.000980
imprint         0.000980
                  ...
mutant          0.000061
reproof         0.000061
rapscallion     0.000061
sizar           0.000061
mimeo           0.000061
Name: paris_london, Length: 13354, dtype: float64

In [34]:
tf['athens_bucharest'].sort_values(ascending=False)[:10]

word
year         0.038023
city         0.034221
orchestra    0.031369
war          0.027567
art          0.023764
time         0.023764
embassy      0.023764
symphony     0.023764
service      0.023764
school       0.022814
Name: athens_bucharest, dtype: float64

In [7]:
corpus.sort_values(by="paris_london", ascending=False)[:10]

,paris_london,london_manchester,london_birmingham,london_berlin,paris_berlin,paris_rome,london_glasgow,berlin_vienna,paris_vienna,madrid_barcelona,...,katowice_copenhagen,athens_katowice,milan_katowice,naples_katowice,katowice_manchester,lisbon_katowice,katowice_glasgow,birmingham_katowice,katowice_turin,katowice_valencia
word,,,,,,,,,,,,,,,,,,,,,
art,6559.0,1463.0,1052.0,2368.0,2576.0,2384.0,1453.0,1302.0,1570.0,513.0,...,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0
year,5935.0,2589.0,1853.0,2005.0,2284.0,2434.0,1489.0,1540.0,1634.0,1582.0,...,4.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1
work,4572.0,1132.0,1013.0,1585.0,1850.0,1747.0,870.0,1100.0,1146.0,463.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
time,4308.0,1944.0,1267.0,1403.0,1474.0,1358.0,1025.0,945.0,1007.0,1272.0,...,1.0,3.0,1.0,0.0,2.0,1.0,1.0,0.0,0.0,0
city,3549.0,1888.0,1480.0,1291.0,1311.0,1101.0,962.0,856.0,756.0,882.0,...,1.0,1.0,1.0,1.0,0.0,2.0,0.0,1.0,0.0,0
exhibition,2573.0,417.0,291.0,740.0,868.0,706.0,391.0,406.0,647.0,235.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
world,2566.0,666.0,512.0,1171.0,949.0,622.0,397.0,626.0,663.0,498.0,...,2.0,1.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0
opera,2510.0,317.0,221.0,1489.0,1663.0,691.0,151.0,2480.0,2208.0,369.0,...,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1
school,2503.0,1388.0,1066.0,796.0,832.0,653.0,837.0,487.0,545.0,227.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
music,2276.0,1200.0,906.0,1222.0,1018.0,547.0,507.0,918.0,762.0,240.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [13]:
tf.sort_values(by="paris_london", ascending=False)[:10]

,paris_london,london_manchester,london_birmingham,london_berlin,paris_berlin,paris_rome,london_glasgow,berlin_vienna,paris_vienna,madrid_barcelona,...,katowice_copenhagen,athens_katowice,milan_katowice,naples_katowice,katowice_manchester,lisbon_katowice,katowice_glasgow,birmingham_katowice,katowice_turin,katowice_valencia
word,,,,,,,,,,,,,,,,,,,,,
art,0.401924,0.131577,0.111006,0.235692,0.259468,0.251982,0.164422,0.164915,0.196373,0.078321,...,0.000000,0.000000,0.000000,0.133333,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
year,0.363687,0.232845,0.195526,0.199562,0.230056,0.257267,0.168496,0.195060,0.204378,0.241527,...,0.030303,0.000000,0.000000,0.016667,0.018868,0.000000,0.00000,0.030303,0.027778,0.028571
work,0.280164,0.101808,0.106890,0.157759,0.186342,0.184653,0.098450,0.139329,0.143340,0.070687,...,0.007576,0.000000,0.000000,0.016667,0.000000,0.000000,0.00000,0.000000,0.027778,0.000000
time,0.263987,0.174836,0.133692,0.139644,0.148469,0.143537,0.115990,0.119696,0.125954,0.194198,...,0.007576,0.037975,0.014085,0.000000,0.037736,0.020408,0.02381,0.000000,0.000000,0.000000
city,0.217477,0.169799,0.156168,0.128496,0.132051,0.116372,0.108860,0.108423,0.094559,0.134656,...,0.007576,0.012658,0.014085,0.016667,0.000000,0.040816,0.00000,0.030303,0.000000,0.000000
exhibition,0.157669,0.037503,0.030706,0.073654,0.087429,0.074622,0.044246,0.051425,0.080926,0.035878,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
world,0.157240,0.059897,0.054026,0.116552,0.095588,0.065744,0.044925,0.079291,0.082927,0.076031,...,0.015152,0.012658,0.000000,0.000000,0.094340,0.020408,0.00000,0.000000,0.000000,0.000000
opera,0.153808,0.028510,0.023320,0.148203,0.167506,0.073037,0.017087,0.314123,0.276173,0.056336,...,0.015152,0.000000,0.028169,0.000000,0.000000,0.000000,0.00000,0.000000,0.027778,0.028571
school,0.153379,0.124831,0.112483,0.079228,0.083803,0.069020,0.094715,0.061685,0.068168,0.034656,...,0.007576,0.000000,0.000000,0.016667,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
music,0.139469,0.107923,0.095600,0.121628,0.102538,0.057816,0.057372,0.116276,0.095310,0.036641,...,0.007576,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.027778,0.000000

In [17]:
tfidf.sort_values(by="paris_london", ascending=False)[:10]

,paris_london,london_manchester,london_birmingham,london_berlin,paris_berlin,paris_rome,london_glasgow,berlin_vienna,paris_vienna,madrid_barcelona,...,katowice_copenhagen,athens_katowice,milan_katowice,naples_katowice,katowice_manchester,lisbon_katowice,katowice_glasgow,birmingham_katowice,katowice_turin,katowice_valencia
word,,,,,,,,,,,,,,,,,,,,,
fashion,0.049528,0.003545,0.002172,0.008255,0.011080,0.011565,0.001664,0.002682,0.004635,0.004490,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
portrait,0.020690,0.004419,0.003722,0.006390,0.008063,0.014409,0.005919,0.004367,0.007039,0.001331,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
ballet,0.020320,0.001993,0.008884,0.007130,0.008555,0.003786,0.001964,0.005519,0.012193,0.000846,...,0.002797,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
painting,0.020020,0.004319,0.002926,0.007020,0.011212,0.019942,0.005025,0.005141,0.009123,0.004049,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
art,0.019934,0.006526,0.005506,0.011690,0.012869,0.012498,0.008155,0.008179,0.009739,0.003884,...,0.000000,0.0,0.0,0.006613,0.0,0.0,0.0,0.0,0.0,0.0
salon,0.018550,0.002105,0.000637,0.002029,0.007300,0.021863,0.001452,0.003060,0.007460,0.002536,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
painter,0.016487,0.003605,0.003011,0.003753,0.007699,0.020933,0.005266,0.005163,0.008838,0.002956,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
novel,0.016274,0.003991,0.003305,0.006754,0.007098,0.004552,0.004356,0.004298,0.002938,0.004782,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
film,0.016118,0.005268,0.004633,0.020883,0.015529,0.006961,0.006225,0.009828,0.005252,0.005592,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
designer,0.015870,0.003061,0.002581,0.003652,0.005196,0.003260,0.002166,0.003503,0.004057,0.001461,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

# Term Frequency Matrix

In [11]:
TF_PATH = '../../../../data/tf_nouns_real_words.csv'

### Create

In [3]:
if check_path(TF_PATH):
    tf = calculate_tf(corpus, OUTPUT_PATH=TF_PATH, include_idf=False)

### Read (Existing File)

In [12]:
TF_PATH = TF_PATH

tf = pd.read_csv(TF_PATH)
tf.set_index('word', inplace=True)

In [19]:
tf.sort_values(by="paris_london", ascending=False)[:25]

,paris_london,london_manchester,london_birmingham,london_berlin,paris_berlin,paris_rome,london_glasgow,berlin_vienna,paris_vienna,madrid_barcelona,...,katowice_copenhagen,athens_katowice,milan_katowice,naples_katowice,katowice_manchester,lisbon_katowice,katowice_glasgow,birmingham_katowice,katowice_turin,katowice_valencia
word,,,,,,,,,,,,,,,,,,,,,
art,0.401924,0.131577,0.111006,0.235692,0.259468,0.251982,0.164422,0.164915,0.196373,0.078321,...,0.000000,0.000000,0.000000,0.133333,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
year,0.363687,0.232845,0.195526,0.199562,0.230056,0.257267,0.168496,0.195060,0.204378,0.241527,...,0.030303,0.000000,0.000000,0.016667,0.018868,0.000000,0.00000,0.030303,0.027778,0.028571
work,0.280164,0.101808,0.106890,0.157759,0.186342,0.184653,0.098450,0.139329,0.143340,0.070687,...,0.007576,0.000000,0.000000,0.016667,0.000000,0.000000,0.00000,0.000000,0.027778,0.000000
time,0.263987,0.174836,0.133692,0.139644,0.148469,0.143537,0.115990,0.119696,0.125954,0.194198,...,0.007576,0.037975,0.014085,0.000000,0.037736,0.020408,0.02381,0.000000,0.000000,0.000000
city,0.217477,0.169799,0.156168,0.128496,0.132051,0.116372,0.108860,0.108423,0.094559,0.134656,...,0.007576,0.012658,0.014085,0.016667,0.000000,0.040816,0.00000,0.030303,0.000000,0.000000
exhibition,0.157669,0.037503,0.030706,0.073654,0.087429,0.074622,0.044246,0.051425,0.080926,0.035878,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
world,0.157240,0.059897,0.054026,0.116552,0.095588,0.065744,0.044925,0.079291,0.082927,0.076031,...,0.015152,0.012658,0.000000,0.000000,0.094340,0.020408,0.00000,0.000000,0.000000,0.000000
opera,0.153808,0.028510,0.023320,0.148203,0.167506,0.073037,0.017087,0.314123,0.276173,0.056336,...,0.015152,0.000000,0.028169,0.000000,0.000000,0.000000,0.00000,0.000000,0.027778,0.028571
school,0.153379,0.124831,0.112483,0.079228,0.083803,0.069020,0.094715,0.061685,0.068168,0.034656,...,0.007576,0.000000,0.000000,0.016667,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
music,0.139469,0.107923,0.095600,0.121628,0.102538,0.057816,0.057372,0.116276,0.095310,0.036641,...,0.007576,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.027778,0.000000
company,0.136773,0.118626,0.121241,0.069673,0.056507,0.027164,0.100373,0.042559,0.044903,0.048855,...,0.000000,0.000000,0.014085,0.000000,0.018868,0.000000,0.00000,0.000000,0.000000,0.000000
artist,0.127765,0.035345,0.034399,0.069971,0.073731,0.074516,0.043001,0.052945,0.054159,0.022748,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
film,0.126295,0.041281,0.036298,0.163631,0.121676,0.054540,0.048772,0.077011,0.041151,0.043817,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
gallery,0.126295,0.055131,0.046850,0.079128,0.053485,0.040905,0.054883,0.025079,0.031770,0.015878,...,0.000000,0.000000,0.000000,0.050000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
member,0.121637,0.068531,0.055819,0.065492,0.081587,0.065638,0.062351,0.074858,0.058036,0.066107,...,0.007576,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
museum,0.112691,0.025632,0.017622,0.086792,0.079976,0.044393,0.023424,0.052945,0.057161,0.023664,...,0.000000,0.000000,0.000000,0.116667,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
festival,0.112691,0.071139,0.063100,0.179954,0.134770,0.045238,0.061220,0.131856,0.098186,0.062595,...,0.015152,0.000000,0.028169,0.000000,0.000000,0.040816,0.00000,0.000000,0.000000,0.028571
war,0.108401,0.039572,0.028490,0.070568,0.082494,0.047458,0.034401,0.075237,0.061413,0.049313,...,0.000000,0.012658,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
society,0.102947,0.065114,0.059618,0.046880,0.037571,0.031815,0.074573,0.031032,0.031895,0.018473,...,0.007576,0.000000,0.000000,0.016667,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
painting,0.099638,0.021495,0.014562,0.034936,0.055802,0.099250,0.025008,0.025586,0.045403,0.020153,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
family,0.096146,0.047486,0.037248,0.044590,0.062853,0.059190,0.037682,0.052692,0.060913,0.027634,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
collection,0.094246,0.023383,0.012451,0.050761,0.053586,0.036677,0.017087,0.030399,0.035147,0.016031,...,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
tour,0.091060,0.110981,0.080089,0.061809,0.049456,0.037840,0.093810,0.042179,0.039149,0.044733,...,0.030303,0.050633,0.000000,0.000000,0.000000,0.081633,0.00000,0.030303,0.111111,0.000000
service,0.089160,0.153611,0.173473,0.036528,0.040995,0.036677,0.119158,0.038252,0.036273,0.058168,...,0.000000,0.025316,0.000000,0.000000,0.018868,0.020408,0.00000,0.000000,0.000000,0.000000
life,0.088547,0.034266,0.026169,0.040211,0.042305,0.046612,0.028856,0.031159,0.039024,0.018015,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000

# Term Frequency - Inverse Document Frequency

In [14]:
TFIDF_PATH = '../../../../data/tfidf_nouns_real_words.csv'

### Create

In [16]:
if check_path(TFIDF_PATH):
    tfidf = calculate_tf(corpus, OUTPUT_PATH=TFIDF_PATH, include_idf=True)

This file already exists. Are you sure you want to override?
Type 'Yes' to continue: nn

Canceling Operation...

### Read (Existing File)

In [15]:
TFIDF_PATH = TFIDF_PATH

tfidf = pd.read_csv(TFIDF_PATH)
tfidf.set_index('word', inplace=True)

<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<!-- <br>
<br>
<br>
<br>
<br>
<br> -->
<div style="height: 500px;"></div>

In [ ]:
https://www.youtube.com/shorts/q8Ook-3h9DQ

In [ ]:
# import pandas
# import math

# CORPUS_PATH = f'../../../../data/corpus.csv'
# TF_CSV_PATH = f'../../../../data/tf.csv'

    

# def calculate_tf(corpus='', OUTPUT_PATH='', include_idf=False) -> tuple:
#     """

#     Calculates the tfidf per speaker per conference

#     :return: ...

#     """
    
#     if not isinstance(corpus, pd.DataFrame):
#         raise Exception("Corpus is required as input (can use calculate_corpus to create one.)")
        
#     if not OUTPUT_PATH:
#         OUTPUT_PATH = './new_tfidf.csv' if include_idf else './new_tf.csv'
        
#     try:
#         corpus.set_index('word', inplace=True)
#     except:
#         pass
    
#     tf_idf = {k: [] for k in corpus.columns}

#     # Create Dataframe with Relative Word Frequencies
#     for index, row in tqdm(corpus.iterrows(), total=len(corpus)):
#         docs_with = np.count_nonzero(row)

#         for colname, count in row.items():
#             total_uniques = np.count_nonzero(corpus[colname])
#             tf = count / total_uniques
#             result = tf
            
#             if include_idf:
#                 idf = math.log(len(corpus.columns) / docs_with)
#                 result *= idf

#             tf_idf[colname].append(result)

#     tf_idf_df = pd.DataFrame.from_dict(tf_idf)
#     tf_idf_df.set_index(corpus.index, inplace=True)

#     tf_idf_df.to_csv(OUTPUT_PATH)
#     print(f"Saved results to '{OUTPUT_PATH}'.")

#     return tf_idf_df